<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Unidades</span>
    </mat-toolbar>

    <table mat-table [dataSource]="unidades" class="mat-elevation-z8">

      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let unidade"> {{ unidade._id }} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let unidade"> {{ unidade.nome }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
